#qna {
  display: none;
}

.qBox {
  background-color: whitesmoke;
  text-align: center;
  border-radius: 20px;
  font-size: 20px;
  width: 80%;
}

.answerList {
  background-color: whitesmoke;
  border-radius: 20px;
  display: block;
  width: 80%;
  border: 0px;
}

/* 커서가 요소 위에 올라가 있거나 선택했을때 */
.answerList:hover, .answerList:focus {
  background-color: #00b0e8;
  color: whitesmoke;
}

.status {
  height: 20px;
  width: 80%;
  background-color: #00b0e8;
  border-radius: 20px;
}

.statusBar {
  height: 100%;
  border-radius: 20px;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#febbbb+0,fe9090+45,ff5c5c+100;Red+3D+%231 */
  background: #d4def9; /* Old browsers */
  background: -moz-linear-gradient(top,  #f3ebeb 0%, #fe9090 45%, #ff5c5c 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #ffffff 0%,#ffffff 45%,#ff5c5c 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #807f7f 0%,#969696 45%,#ff5c5c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#febbbb', endColorstr='#ff5c5c',GradientType=0 ); /* IE6-9 */
}